.driver-management-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.driver-table {
  width: 100%;
  overflow-x: auto;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th, .user-table td {
  border: 1px solid #BDC3C7;
  padding: 12px;
  text-align: left;
}

.user-table th {
  background-color: #2C3E50;
  color: white;
}

.user-table td {
  background-color: white;
}

.rating {
  display: flex;
  align-items: center;
}

.star {
  font-size: 20px;
  cursor: pointer;
  margin-right: 2px;
}

.star.filled {
  color: gold;
}

.activity-list {
  margin-top: 10px;
}

.activity-entry {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.edit-form {
  margin-top: 20px;
  border: 1px solid #BDC3C7;
  padding: 15px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.edit-form h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #2C3E50;
}

.edit-form label {
  display: block;
  margin-bottom: 10px;
}

.edit-form input,
.edit-form select {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #BDC3C7;
  border-radius: 4px;
}

.edit-form button {
  margin-top: 15px;
  background-color: #2C3E50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.edit-form button:hover {
  background-color: #1C2833;
}

.trackActivityButton{
  background-color: black;
  color: white;
}
.user-table td button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.user-table td button.edit {
  background-color: #3498DB;
  margin: 10px;
  width: 140px;
}

.user-table td button.edit:hover {
  background-color: #2980B9;
}

.user-table td button.delete {
  background-color: #E74C3C;
  margin: 10px;
  width: 140px;

}

.user-table td button.delete:hover {
  background-color: #C0392B;
}

@media (max-width: 768px) {
  .edit-form {
    padding: 10px;
    max-width: 100%;
  }

  .user-table th, .user-table td {
    padding: 8px;
    font-size: 14px;
  }

  .rating .star {
    font-size: 18px;
  }
}

